<h3>Create User</h3>

<exception [errorMessage]="error"></exception>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">

        <div class="form-group">
          <select formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
            <option value="" disabled selected>Title</option>
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Miss">Miss</option>
            <option value="Ms">Ms</option>
          </select>
          <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
            <div *ngIf="f.title.errors.required">Title is required</div>
          </div>
        </div>

        <div class="form-group">
          <input type="text" placeholder="First Name" formControlName="firstName" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"/>
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
            <div *ngIf="f.firstName.errors.minlength">First Name must be at least 2 characters</div>
          </div>
        </div>

        <div class="form-group">
          <input type="text" placeholder="Last Name" formControlName="lastName" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"/>
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            <div *ngIf="f.lastName.errors.minlength">Last Name must be at least 2 characters</div>
          </div>
        </div>

        <div class="form-group">
          <input type="text" placeholder="Cell Phone" formControlName="cellPhone" class="form-control"
                 [ngClass]="{'is-invalid': submitted && f.cellPhone.errors}"/>
          <div *ngIf="submitted && f.cellPhone.errors" class="invalid-feedback">
            <div *ngIf="f.cellPhone.errors.pattern">Cell Phone must be a valid number</div>
          </div>
        </div>

        <div class="form-group">
          <input type="text" placeholder="Email" formControlName="email" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
          </div>
        </div>

        <div class="form-group">
          <input type="text" placeholder="Username" formControlName="username" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
            <div *ngIf="f.username.errors.minlength">Username must be at least 6 characters</div>
          </div>
        </div>

        <div class="form-group">
          <input type="password" placeholder="Password" formControlName="password" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
          </div>
        </div>

        <div class="form-group">
          <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"/>
          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
            <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
          </div>
        </div>

        <div class="form-group form-check">
          <input type="checkbox" formControlName="isAdmin" id="isAdmin" class="form-check-input" />
          <label for="isAdmin" class="form-check-label">Admin</label>
        </div>

        <div class="row txt-mrgn-btm">
          <div class="col-12 col-ms-12 col-md-6 col-lg-3">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
          <div class="col-12 col-ms-12 col-md-6 col-lg-3">
            <button (click)="onReset()" type="reset" class="btn btn-dark">Cancel</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</form>
