<h3>Create User</h3>
<form (ngSubmit)="onSubmit()">
  <div class="row">
    <div [hidden]="submitted" class="col-xs-12 col-md-6 col-lg-4">

      <div class="txt-mrgn-btm">
        <input type="text" placeholder="First Name" class="form-control" id="firstName" required
               [(ngModel)]="user.firstName" name="name">
      </div>

      <div class="txt-mrgn-btm">
        <input type="text" placeholder="Last Name" class="form-control" id="lastName" required
               [(ngModel)]="user.lastName" name="lastName">
      </div>

      <div class="txt-mrgn-btm">
        <input type="text" placeholder="Cell Phone" class="form-control" id="cellPhone"
               [(ngModel)]="user.cellPhone" name="cellPhone">
      </div>

      <div class="txt-mrgn-btm">
        <input type="text" placeholder="Email" class="form-control" id="email" required [(ngModel)]="user.email"
               name="email">
      </div>

      <div class="txt-mrgn-btm">
        <input type="text" placeholder="Username" class="form-control" id="username" required
               [(ngModel)]="user.username"
               name="username">
      </div>

      <div class="txt-mrgn-btm">
        <input type="password" placeholder="Password" class="form-control" id="password" required
               [(ngModel)]="user.password" name="password">
      </div>

        <div class="txt-mrgn-btm">
          <input type="password" placeholder="Confirm Password" class="form-control" id="confirmPassword" required
                 [(ngModel)]="confirmPassword" name="confirmPassword">
        </div>

        <div class="row txt-mrgn-btm">
          <div class="col-12 col-ms-12 col-md-6 col-lg-3">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
          <div class="col-12 col-ms-12 col-md-6 col-lg-3">
            <button (click)="onReset()" type="reset" class="btn btn-dark">Cancel</button>
          </div>
        </div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>
