<h2>User Details</h2>

<exception [errorMessage]="error"></exception>

<hr/>
<div *ngIf="user">
  <div>
    <label><b>Full
      Name: </b></label> {{user.title}} {{user.firstName}} {{user.lastName}} {{user.isAdmin ? '(Admin)' : ''}}
  </div>
  <div>
    <label><b>Username: </b></label> {{user.username}}
  </div>
  <div>
    <label><b>Cell Phone: </b></label> {{user.cellPhone}}
  </div>
  <div>
    <label><b>Email: </b></label> {{user.email}}
  </div>
  <div>
    <label><b>Created By: </b></label> {{user.createdBy}}
  </div>
  <div>
    <label><b>Updated By: </b></label> {{user.lastModifiedBy}}
  </div>
  <div>
    <label><b>Created Date: </b></label> {{user.createdDate}}
  </div>
  <div>
    <label><b>Updated Date: </b></label> {{user.lastModifiedDate}}
  </div>

</div>

<br>
<button (click)="list()" class="btn btn-primary">Back to User List</button><br>
