<?xml version = "1.0" encoding = "UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[%-5p] [%d{yyyy-MM-dd'T'HH:mm:ss.sss}] [%C] [%M] [%L] %m%n</pattern>
        </encoder>
    </appender>

    <!-- custom logging levels -->
    <!-- custom logging levels -->
    <logger name="com.afifi.usermng" level="DEBUG"/>
    <logger name="org.springframework" level="WARN"/>
    <!--<logger name="org.springframework.data" level="DEBUG"/>-->
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.apache" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
